ProyectoHotelIU/web/WEB-INF/wsdl/localhost_8080/ProyectoHotelLG/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://PROYECTOWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://PROYECTOWS/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://PROYECTOWS/" schemaLocation="http://localhost:8080/ProyectoHotelLG/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="Modificar Persona">
<part name="parameters" element="tns:Modificar Persona"/>
</message>
<message name="Modificar PersonaResponse">
<part name="parameters" element="tns:Modificar PersonaResponse"/>
</message>
<message name="Ingresar persona">
<part name="parameters" element="tns:Ingresar persona"/>
</message>
<message name="Ingresar personaResponse">
<part name="parameters" element="tns:Ingresar personaResponse"/>
</message>
<message name="Obtener personas">
<part name="parameters" element="tns:Obtener personas"/>
</message>
<message name="Obtener personasResponse">
<part name="parameters" element="tns:Obtener personasResponse"/>
</message>
<message name="Ingresar Trabajadores">
<part name="parameters" element="tns:Ingresar Trabajadores"/>
</message>
<message name="Ingresar TrabajadoresResponse">
<part name="parameters" element="tns:Ingresar TrabajadoresResponse"/>
</message>
<message name="Modificar Habitacion">
<part name="parameters" element="tns:Modificar Habitacion"/>
</message>
<message name="Modificar HabitacionResponse">
<part name="parameters" element="tns:Modificar HabitacionResponse"/>
</message>
<message name="Eliminar Habitacion">
<part name="parameters" element="tns:Eliminar Habitacion"/>
</message>
<message name="Eliminar HabitacionResponse">
<part name="parameters" element="tns:Eliminar HabitacionResponse"/>
</message>
<message name="Ingresar Habitacion">
<part name="parameters" element="tns:Ingresar Habitacion"/>
</message>
<message name="Ingresar HabitacionResponse">
<part name="parameters" element="tns:Ingresar HabitacionResponse"/>
</message>
<message name="Obtener Habitacion">
<part name="parameters" element="tns:Obtener Habitacion"/>
</message>
<message name="Obtener HabitacionResponse">
<part name="parameters" element="tns:Obtener HabitacionResponse"/>
</message>
<message name="Modificar reserva">
<part name="parameters" element="tns:Modificar reserva"/>
</message>
<message name="Modificar reservaResponse">
<part name="parameters" element="tns:Modificar reservaResponse"/>
</message>
<message name="Eliminar reserva">
<part name="parameters" element="tns:Eliminar reserva"/>
</message>
<message name="Eliminar reservaResponse">
<part name="parameters" element="tns:Eliminar reservaResponse"/>
</message>
<message name="Ingresar Reserva">
<part name="parameters" element="tns:Ingresar Reserva"/>
</message>
<message name="Ingresar ReservaResponse">
<part name="parameters" element="tns:Ingresar ReservaResponse"/>
</message>
<message name="Eliminar personas">
<part name="parameters" element="tns:Eliminar personas"/>
</message>
<message name="Eliminar personasResponse">
<part name="parameters" element="tns:Eliminar personasResponse"/>
</message>
<message name="Obtener reservan">
<part name="parameters" element="tns:Obtener reservan"/>
</message>
<message name="Obtener reservanResponse">
<part name="parameters" element="tns:Obtener reservanResponse"/>
</message>
<message name="Modificar Trabajador">
<part name="parameters" element="tns:Modificar Trabajador"/>
</message>
<message name="Modificar TrabajadorResponse">
<part name="parameters" element="tns:Modificar TrabajadorResponse"/>
</message>
<message name="Obtener Trabajador">
<part name="parameters" element="tns:Obtener Trabajador"/>
</message>
<message name="Obtener TrabajadorResponse">
<part name="parameters" element="tns:Obtener TrabajadorResponse"/>
</message>
<message name="Eliminar Trabajadores">
<part name="parameters" element="tns:Eliminar Trabajadores"/>
</message>
<message name="Eliminar TrabajadoresResponse">
<part name="parameters" element="tns:Eliminar TrabajadoresResponse"/>
</message>
<portType name="NewWebService">
<operation name="Modificar Persona">
<input wsam:Action="http://PROYECTOWS/NewWebService/Modificar PersonaRequest" message="tns:Modificar Persona"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Modificar PersonaResponse" message="tns:Modificar PersonaResponse"/>
</operation>
<operation name="Ingresar persona">
<input wsam:Action="http://PROYECTOWS/NewWebService/Ingresar personaRequest" message="tns:Ingresar persona"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Ingresar personaResponse" message="tns:Ingresar personaResponse"/>
</operation>
<operation name="Obtener personas">
<input wsam:Action="http://PROYECTOWS/NewWebService/Obtener personasRequest" message="tns:Obtener personas"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Obtener personasResponse" message="tns:Obtener personasResponse"/>
</operation>
<operation name="Ingresar Trabajadores">
<input wsam:Action="http://PROYECTOWS/NewWebService/Ingresar TrabajadoresRequest" message="tns:Ingresar Trabajadores"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Ingresar TrabajadoresResponse" message="tns:Ingresar TrabajadoresResponse"/>
</operation>
<operation name="Modificar Habitacion">
<input wsam:Action="http://PROYECTOWS/NewWebService/Modificar HabitacionRequest" message="tns:Modificar Habitacion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Modificar HabitacionResponse" message="tns:Modificar HabitacionResponse"/>
</operation>
<operation name="Eliminar Habitacion">
<input wsam:Action="http://PROYECTOWS/NewWebService/Eliminar HabitacionRequest" message="tns:Eliminar Habitacion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Eliminar HabitacionResponse" message="tns:Eliminar HabitacionResponse"/>
</operation>
<operation name="Ingresar Habitacion">
<input wsam:Action="http://PROYECTOWS/NewWebService/Ingresar HabitacionRequest" message="tns:Ingresar Habitacion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Ingresar HabitacionResponse" message="tns:Ingresar HabitacionResponse"/>
</operation>
<operation name="Obtener Habitacion">
<input wsam:Action="http://PROYECTOWS/NewWebService/Obtener HabitacionRequest" message="tns:Obtener Habitacion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Obtener HabitacionResponse" message="tns:Obtener HabitacionResponse"/>
</operation>
<operation name="Modificar reserva">
<input wsam:Action="http://PROYECTOWS/NewWebService/Modificar reservaRequest" message="tns:Modificar reserva"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Modificar reservaResponse" message="tns:Modificar reservaResponse"/>
</operation>
<operation name="Eliminar reserva">
<input wsam:Action="http://PROYECTOWS/NewWebService/Eliminar reservaRequest" message="tns:Eliminar reserva"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Eliminar reservaResponse" message="tns:Eliminar reservaResponse"/>
</operation>
<operation name="Ingresar Reserva">
<input wsam:Action="http://PROYECTOWS/NewWebService/Ingresar ReservaRequest" message="tns:Ingresar Reserva"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Ingresar ReservaResponse" message="tns:Ingresar ReservaResponse"/>
</operation>
<operation name="Eliminar personas">
<input wsam:Action="http://PROYECTOWS/NewWebService/Eliminar personasRequest" message="tns:Eliminar personas"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Eliminar personasResponse" message="tns:Eliminar personasResponse"/>
</operation>
<operation name="Obtener reservan">
<input wsam:Action="http://PROYECTOWS/NewWebService/Obtener reservanRequest" message="tns:Obtener reservan"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Obtener reservanResponse" message="tns:Obtener reservanResponse"/>
</operation>
<operation name="Modificar Trabajador">
<input wsam:Action="http://PROYECTOWS/NewWebService/Modificar TrabajadorRequest" message="tns:Modificar Trabajador"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Modificar TrabajadorResponse" message="tns:Modificar TrabajadorResponse"/>
</operation>
<operation name="Obtener Trabajador">
<input wsam:Action="http://PROYECTOWS/NewWebService/Obtener TrabajadorRequest" message="tns:Obtener Trabajador"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Obtener TrabajadorResponse" message="tns:Obtener TrabajadorResponse"/>
</operation>
<operation name="Eliminar Trabajadores">
<input wsam:Action="http://PROYECTOWS/NewWebService/Eliminar TrabajadoresRequest" message="tns:Eliminar Trabajadores"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/Eliminar TrabajadoresResponse" message="tns:Eliminar TrabajadoresResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Modificar Persona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ingresar persona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Obtener personas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ingresar Trabajadores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar Habitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar Habitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ingresar Habitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Obtener Habitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar reserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar reserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ingresar Reserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar personas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Obtener reservan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar Trabajador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Obtener Trabajador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar Trabajadores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/ProyectoHotelLG/NewWebService"/>
</port>
</service>
</definitions>