ProyectoHotelIU/web/WEB-INF/wsdl/localhost_8080/ProyectoHotelAD/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://PROYECTOWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://PROYECTOWS/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://PROYECTOWS/" schemaLocation="http://localhost:8080/ProyectoHotelAD/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="ObtenerHabitacion">
<part name="parameters" element="tns:ObtenerHabitacion"/>
</message>
<message name="ObtenerHabitacionResponse">
<part name="parameters" element="tns:ObtenerHabitacionResponse"/>
</message>
<message name="ObtenerHabitaciones">
<part name="parameters" element="tns:ObtenerHabitaciones"/>
</message>
<message name="ObtenerHabitacionesResponse">
<part name="parameters" element="tns:ObtenerHabitacionesResponse"/>
</message>
<message name="ObtenerTodasHabitacionescocpuadas">
<part name="parameters" element="tns:ObtenerTodasHabitacionescocpuadas"/>
</message>
<message name="ObtenerTodasHabitacionescocpuadasResponse">
<part name="parameters" element="tns:ObtenerTodasHabitacionescocpuadasResponse"/>
</message>
<message name="Obtenertotadaspersonastrabajadoras">
<part name="parameters" element="tns:Obtenertotadaspersonastrabajadoras"/>
</message>
<message name="ObtenertotadaspersonastrabajadorasResponse">
<part name="parameters" element="tns:ObtenertotadaspersonastrabajadorasResponse"/>
</message>
<message name="ObtenerTodasHabitacion">
<part name="parameters" element="tns:ObtenerTodasHabitacion"/>
</message>
<message name="ObtenerTodasHabitacionResponse">
<part name="parameters" element="tns:ObtenerTodasHabitacionResponse"/>
</message>
<message name="Obtenertotadaspersonas">
<part name="parameters" element="tns:Obtenertotadaspersonas"/>
</message>
<message name="ObtenertotadaspersonasResponse">
<part name="parameters" element="tns:ObtenertotadaspersonasResponse"/>
</message>
<message name="Obtenertodasreservan">
<part name="parameters" element="tns:Obtenertodasreservan"/>
</message>
<message name="ObtenertodasreservanResponse">
<part name="parameters" element="tns:ObtenertodasreservanResponse"/>
</message>
<message name="IngresarHabitacion">
<part name="parameters" element="tns:IngresarHabitacion"/>
</message>
<message name="IngresarHabitacionResponse">
<part name="parameters" element="tns:IngresarHabitacionResponse"/>
</message>
<message name="EliminarHabitacion">
<part name="parameters" element="tns:EliminarHabitacion"/>
</message>
<message name="EliminarHabitacionResponse">
<part name="parameters" element="tns:EliminarHabitacionResponse"/>
</message>
<message name="ModificarHabitacion">
<part name="parameters" element="tns:ModificarHabitacion"/>
</message>
<message name="ModificarHabitacionResponse">
<part name="parameters" element="tns:ModificarHabitacionResponse"/>
</message>
<message name="Obtenerreservan">
<part name="parameters" element="tns:Obtenerreservan"/>
</message>
<message name="ObtenerreservanResponse">
<part name="parameters" element="tns:ObtenerreservanResponse"/>
</message>
<message name="mostrarfecha">
<part name="parameters" element="tns:mostrarfecha"/>
</message>
<message name="mostrarfechaResponse">
<part name="parameters" element="tns:mostrarfechaResponse"/>
</message>
<message name="Obtenerpersonas">
<part name="parameters" element="tns:Obtenerpersonas"/>
</message>
<message name="ObtenerpersonasResponse">
<part name="parameters" element="tns:ObtenerpersonasResponse"/>
</message>
<message name="IngresarReserva">
<part name="parameters" element="tns:IngresarReserva"/>
</message>
<message name="IngresarReservaResponse">
<part name="parameters" element="tns:IngresarReservaResponse"/>
</message>
<message name="inicarsecion">
<part name="parameters" element="tns:inicarsecion"/>
</message>
<message name="inicarsecionResponse">
<part name="parameters" element="tns:inicarsecionResponse"/>
</message>
<message name="ModificaPersona">
<part name="parameters" element="tns:ModificaPersona"/>
</message>
<message name="ModificaPersonaResponse">
<part name="parameters" element="tns:ModificaPersonaResponse"/>
</message>
<message name="Ingresarpersona">
<part name="parameters" element="tns:Ingresarpersona"/>
</message>
<message name="IngresarpersonaResponse">
<part name="parameters" element="tns:IngresarpersonaResponse"/>
</message>
<message name="Eliminarreserva">
<part name="parameters" element="tns:Eliminarreserva"/>
</message>
<message name="EliminarreservaResponse">
<part name="parameters" element="tns:EliminarreservaResponse"/>
</message>
<message name="Modificarreserva">
<part name="parameters" element="tns:Modificarreserva"/>
</message>
<message name="ModificarreservaResponse">
<part name="parameters" element="tns:ModificarreservaResponse"/>
</message>
<message name="Eliminarpersonas">
<part name="parameters" element="tns:Eliminarpersonas"/>
</message>
<message name="EliminarpersonasResponse">
<part name="parameters" element="tns:EliminarpersonasResponse"/>
</message>
<portType name="NewWebService">
<operation name="ObtenerHabitacion">
<input wsam:Action="http://PROYECTOWS/NewWebService/ObtenerHabitacionRequest" message="tns:ObtenerHabitacion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ObtenerHabitacionResponse" message="tns:ObtenerHabitacionResponse"/>
</operation>
<operation name="ObtenerHabitaciones">
<input wsam:Action="http://PROYECTOWS/NewWebService/ObtenerHabitacionesRequest" message="tns:ObtenerHabitaciones"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ObtenerHabitacionesResponse" message="tns:ObtenerHabitacionesResponse"/>
</operation>
<operation name="ObtenerTodasHabitacionescocpuadas">
<input wsam:Action="http://PROYECTOWS/NewWebService/ObtenerTodasHabitacionescocpuadasRequest" message="tns:ObtenerTodasHabitacionescocpuadas"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ObtenerTodasHabitacionescocpuadasResponse" message="tns:ObtenerTodasHabitacionescocpuadasResponse"/>
</operation>
<operation name="Obtenertotadaspersonastrabajadoras">
<input wsam:Action="http://PROYECTOWS/NewWebService/ObtenertotadaspersonastrabajadorasRequest" message="tns:Obtenertotadaspersonastrabajadoras"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ObtenertotadaspersonastrabajadorasResponse" message="tns:ObtenertotadaspersonastrabajadorasResponse"/>
</operation>
<operation name="ObtenerTodasHabitacion">
<input wsam:Action="http://PROYECTOWS/NewWebService/ObtenerTodasHabitacionRequest" message="tns:ObtenerTodasHabitacion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ObtenerTodasHabitacionResponse" message="tns:ObtenerTodasHabitacionResponse"/>
</operation>
<operation name="Obtenertotadaspersonas">
<input wsam:Action="http://PROYECTOWS/NewWebService/ObtenertotadaspersonasRequest" message="tns:Obtenertotadaspersonas"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ObtenertotadaspersonasResponse" message="tns:ObtenertotadaspersonasResponse"/>
</operation>
<operation name="Obtenertodasreservan">
<input wsam:Action="http://PROYECTOWS/NewWebService/ObtenertodasreservanRequest" message="tns:Obtenertodasreservan"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ObtenertodasreservanResponse" message="tns:ObtenertodasreservanResponse"/>
</operation>
<operation name="IngresarHabitacion">
<input wsam:Action="http://PROYECTOWS/NewWebService/IngresarHabitacionRequest" message="tns:IngresarHabitacion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/IngresarHabitacionResponse" message="tns:IngresarHabitacionResponse"/>
</operation>
<operation name="EliminarHabitacion">
<input wsam:Action="http://PROYECTOWS/NewWebService/EliminarHabitacionRequest" message="tns:EliminarHabitacion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/EliminarHabitacionResponse" message="tns:EliminarHabitacionResponse"/>
</operation>
<operation name="ModificarHabitacion">
<input wsam:Action="http://PROYECTOWS/NewWebService/ModificarHabitacionRequest" message="tns:ModificarHabitacion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ModificarHabitacionResponse" message="tns:ModificarHabitacionResponse"/>
</operation>
<operation name="Obtenerreservan">
<input wsam:Action="http://PROYECTOWS/NewWebService/ObtenerreservanRequest" message="tns:Obtenerreservan"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ObtenerreservanResponse" message="tns:ObtenerreservanResponse"/>
</operation>
<operation name="mostrarfecha">
<input wsam:Action="http://PROYECTOWS/NewWebService/mostrarfechaRequest" message="tns:mostrarfecha"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/mostrarfechaResponse" message="tns:mostrarfechaResponse"/>
</operation>
<operation name="Obtenerpersonas">
<input wsam:Action="http://PROYECTOWS/NewWebService/ObtenerpersonasRequest" message="tns:Obtenerpersonas"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ObtenerpersonasResponse" message="tns:ObtenerpersonasResponse"/>
</operation>
<operation name="IngresarReserva">
<input wsam:Action="http://PROYECTOWS/NewWebService/IngresarReservaRequest" message="tns:IngresarReserva"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/IngresarReservaResponse" message="tns:IngresarReservaResponse"/>
</operation>
<operation name="inicarsecion">
<input wsam:Action="http://PROYECTOWS/NewWebService/inicarsecionRequest" message="tns:inicarsecion"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/inicarsecionResponse" message="tns:inicarsecionResponse"/>
</operation>
<operation name="ModificaPersona">
<input wsam:Action="http://PROYECTOWS/NewWebService/ModificaPersonaRequest" message="tns:ModificaPersona"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ModificaPersonaResponse" message="tns:ModificaPersonaResponse"/>
</operation>
<operation name="Ingresarpersona">
<input wsam:Action="http://PROYECTOWS/NewWebService/IngresarpersonaRequest" message="tns:Ingresarpersona"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/IngresarpersonaResponse" message="tns:IngresarpersonaResponse"/>
</operation>
<operation name="Eliminarreserva">
<input wsam:Action="http://PROYECTOWS/NewWebService/EliminarreservaRequest" message="tns:Eliminarreserva"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/EliminarreservaResponse" message="tns:EliminarreservaResponse"/>
</operation>
<operation name="Modificarreserva">
<input wsam:Action="http://PROYECTOWS/NewWebService/ModificarreservaRequest" message="tns:Modificarreserva"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/ModificarreservaResponse" message="tns:ModificarreservaResponse"/>
</operation>
<operation name="Eliminarpersonas">
<input wsam:Action="http://PROYECTOWS/NewWebService/EliminarpersonasRequest" message="tns:Eliminarpersonas"/>
<output wsam:Action="http://PROYECTOWS/NewWebService/EliminarpersonasResponse" message="tns:EliminarpersonasResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ObtenerHabitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerHabitaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerTodasHabitacionescocpuadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Obtenertotadaspersonastrabajadoras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerTodasHabitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Obtenertotadaspersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Obtenertodasreservan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresarHabitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarHabitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarHabitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Obtenerreservan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarfecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Obtenerpersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inicarsecion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificaPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ingresarpersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminarreserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificarreserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminarpersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/ProyectoHotelAD/NewWebService"/>
</port>
</service>
</definitions>