HOTELFIU/web/WEB-INF/wsdl/localhost_8080/HOTELAD/proyectowser.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://proyectowser/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://proyectowser/">

<xs:element name="eliminacionhabitaciones" type="tns:eliminacionhabitaciones"/>

<xs:element name="eliminacionhabitacionesResponse" type="tns:eliminacionhabitacionesResponse"/>

<xs:element name="eliminacionpersona" type="tns:eliminacionpersona"/>

<xs:element name="eliminacionpersonaResponse" type="tns:eliminacionpersonaResponse"/>

<xs:element name="eliminarreservas" type="tns:eliminarreservas"/>

<xs:element name="eliminarreservasResponse" type="tns:eliminarreservasResponse"/>

<xs:element name="ingresarHabitaciones" type="tns:ingresarHabitaciones"/>

<xs:element name="ingresarHabitacionesResponse" type="tns:ingresarHabitacionesResponse"/>

<xs:element name="ingresarPersonas" type="tns:ingresarPersonas"/>

<xs:element name="ingresarPersonasResponse" type="tns:ingresarPersonasResponse"/>

<xs:element name="ingresarreserva" type="tns:ingresarreserva"/>

<xs:element name="ingresarreservaResponse" type="tns:ingresarreservaResponse"/>

<xs:element name="modificarhabitaciones" type="tns:modificarhabitaciones"/>

<xs:element name="modificarhabitacionesResponse" type="tns:modificarhabitacionesResponse"/>

<xs:element name="modificarpersonas" type="tns:modificarpersonas"/>

<xs:element name="modificarpersonasResponse" type="tns:modificarpersonasResponse"/>

<xs:element name="modificarreservas" type="tns:modificarreservas"/>

<xs:element name="modificarreservasResponse" type="tns:modificarreservasResponse"/>

<xs:element name="obtenerhabitaciones" type="tns:obtenerhabitaciones"/>

<xs:element name="obtenerhabitacionesResponse" type="tns:obtenerhabitacionesResponse"/>

<xs:element name="obtenerpersonas" type="tns:obtenerpersonas"/>

<xs:element name="obtenerpersonasResponse" type="tns:obtenerpersonasResponse"/>

<xs:element name="obtenerreservas" type="tns:obtenerreservas"/>

<xs:element name="obtenerreservasResponse" type="tns:obtenerreservasResponse"/>

<xs:complexType name="obtenerpersonas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerpersonasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminacionpersona">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminacionpersonaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarhabitaciones">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarhabitacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarreservas">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarreservasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarreserva">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarreservaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerreservas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerreservasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerhabitaciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerhabitacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminacionhabitaciones">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminacionhabitacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarHabitaciones">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarHabitacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarpersonas">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarpersonasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarPersonas">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarPersonasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarreservas">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarreservasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>