HOTELFIU/web/WEB-INF/wsdl/localhost_8080/HOTELAD/proyectowser.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://proyectowser/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://proyectowser/" name="proyectowser">
<types>
<xsd:schema>
<xsd:import namespace="http://proyectowser/" schemaLocation="http://localhost:8080/HOTELAD/proyectowser?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerpersonas">
<part name="parameters" element="tns:obtenerpersonas"/>
</message>
<message name="obtenerpersonasResponse">
<part name="parameters" element="tns:obtenerpersonasResponse"/>
</message>
<message name="obtenerreservas">
<part name="parameters" element="tns:obtenerreservas"/>
</message>
<message name="obtenerreservasResponse">
<part name="parameters" element="tns:obtenerreservasResponse"/>
</message>
<message name="ingresarreserva">
<part name="parameters" element="tns:ingresarreserva"/>
</message>
<message name="ingresarreservaResponse">
<part name="parameters" element="tns:ingresarreservaResponse"/>
</message>
<message name="ingresarPersonas">
<part name="parameters" element="tns:ingresarPersonas"/>
</message>
<message name="ingresarPersonasResponse">
<part name="parameters" element="tns:ingresarPersonasResponse"/>
</message>
<message name="eliminarreservas">
<part name="parameters" element="tns:eliminarreservas"/>
</message>
<message name="eliminarreservasResponse">
<part name="parameters" element="tns:eliminarreservasResponse"/>
</message>
<message name="obtenerhabitaciones">
<part name="parameters" element="tns:obtenerhabitaciones"/>
</message>
<message name="obtenerhabitacionesResponse">
<part name="parameters" element="tns:obtenerhabitacionesResponse"/>
</message>
<message name="ingresarHabitaciones">
<part name="parameters" element="tns:ingresarHabitaciones"/>
</message>
<message name="ingresarHabitacionesResponse">
<part name="parameters" element="tns:ingresarHabitacionesResponse"/>
</message>
<message name="modificarhabitaciones">
<part name="parameters" element="tns:modificarhabitaciones"/>
</message>
<message name="modificarhabitacionesResponse">
<part name="parameters" element="tns:modificarhabitacionesResponse"/>
</message>
<message name="eliminacionhabitaciones">
<part name="parameters" element="tns:eliminacionhabitaciones"/>
</message>
<message name="eliminacionhabitacionesResponse">
<part name="parameters" element="tns:eliminacionhabitacionesResponse"/>
</message>
<message name="modificarreservas">
<part name="parameters" element="tns:modificarreservas"/>
</message>
<message name="modificarreservasResponse">
<part name="parameters" element="tns:modificarreservasResponse"/>
</message>
<message name="modificarpersonas">
<part name="parameters" element="tns:modificarpersonas"/>
</message>
<message name="modificarpersonasResponse">
<part name="parameters" element="tns:modificarpersonasResponse"/>
</message>
<message name="eliminacionpersona">
<part name="parameters" element="tns:eliminacionpersona"/>
</message>
<message name="eliminacionpersonaResponse">
<part name="parameters" element="tns:eliminacionpersonaResponse"/>
</message>
<portType name="proyectowser">
<operation name="obtenerpersonas">
<input wsam:Action="http://proyectowser/proyectowser/obtenerpersonasRequest" message="tns:obtenerpersonas"/>
<output wsam:Action="http://proyectowser/proyectowser/obtenerpersonasResponse" message="tns:obtenerpersonasResponse"/>
</operation>
<operation name="obtenerreservas">
<input wsam:Action="http://proyectowser/proyectowser/obtenerreservasRequest" message="tns:obtenerreservas"/>
<output wsam:Action="http://proyectowser/proyectowser/obtenerreservasResponse" message="tns:obtenerreservasResponse"/>
</operation>
<operation name="ingresarreserva">
<input wsam:Action="http://proyectowser/proyectowser/ingresarreservaRequest" message="tns:ingresarreserva"/>
<output wsam:Action="http://proyectowser/proyectowser/ingresarreservaResponse" message="tns:ingresarreservaResponse"/>
</operation>
<operation name="ingresarPersonas">
<input wsam:Action="http://proyectowser/proyectowser/ingresarPersonasRequest" message="tns:ingresarPersonas"/>
<output wsam:Action="http://proyectowser/proyectowser/ingresarPersonasResponse" message="tns:ingresarPersonasResponse"/>
</operation>
<operation name="eliminarreservas">
<input wsam:Action="http://proyectowser/proyectowser/eliminarreservasRequest" message="tns:eliminarreservas"/>
<output wsam:Action="http://proyectowser/proyectowser/eliminarreservasResponse" message="tns:eliminarreservasResponse"/>
</operation>
<operation name="obtenerhabitaciones">
<input wsam:Action="http://proyectowser/proyectowser/obtenerhabitacionesRequest" message="tns:obtenerhabitaciones"/>
<output wsam:Action="http://proyectowser/proyectowser/obtenerhabitacionesResponse" message="tns:obtenerhabitacionesResponse"/>
</operation>
<operation name="ingresarHabitaciones">
<input wsam:Action="http://proyectowser/proyectowser/ingresarHabitacionesRequest" message="tns:ingresarHabitaciones"/>
<output wsam:Action="http://proyectowser/proyectowser/ingresarHabitacionesResponse" message="tns:ingresarHabitacionesResponse"/>
</operation>
<operation name="modificarhabitaciones">
<input wsam:Action="http://proyectowser/proyectowser/modificarhabitacionesRequest" message="tns:modificarhabitaciones"/>
<output wsam:Action="http://proyectowser/proyectowser/modificarhabitacionesResponse" message="tns:modificarhabitacionesResponse"/>
</operation>
<operation name="eliminacionhabitaciones">
<input wsam:Action="http://proyectowser/proyectowser/eliminacionhabitacionesRequest" message="tns:eliminacionhabitaciones"/>
<output wsam:Action="http://proyectowser/proyectowser/eliminacionhabitacionesResponse" message="tns:eliminacionhabitacionesResponse"/>
</operation>
<operation name="modificarreservas">
<input wsam:Action="http://proyectowser/proyectowser/modificarreservasRequest" message="tns:modificarreservas"/>
<output wsam:Action="http://proyectowser/proyectowser/modificarreservasResponse" message="tns:modificarreservasResponse"/>
</operation>
<operation name="modificarpersonas">
<input wsam:Action="http://proyectowser/proyectowser/modificarpersonasRequest" message="tns:modificarpersonas"/>
<output wsam:Action="http://proyectowser/proyectowser/modificarpersonasResponse" message="tns:modificarpersonasResponse"/>
</operation>
<operation name="eliminacionpersona">
<input wsam:Action="http://proyectowser/proyectowser/eliminacionpersonaRequest" message="tns:eliminacionpersona"/>
<output wsam:Action="http://proyectowser/proyectowser/eliminacionpersonaResponse" message="tns:eliminacionpersonaResponse"/>
</operation>
</portType>
<binding name="proyectowserPortBinding" type="tns:proyectowser">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerpersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerreservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarreserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarreservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerhabitaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarHabitaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarhabitaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminacionhabitaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarreservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarpersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminacionpersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="proyectowser">
<port name="proyectowserPort" binding="tns:proyectowserPortBinding">
<soap:address location="http://localhost:8080/HOTELAD/proyectowser"/>
</port>
</service>
</definitions>